.question {
  position: absolute;
  left: 50%;
  top: 42%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.question-content {
  color: white;
  position: relative;
}

ul {
  list-style: none;
  padding-left: 0;
}

.option {
  color: rgb(39, 37, 90);
  background-color: white;
  border: none;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 20px 0px 20px 0px;
  cursor: pointer;
  border-radius: 20px;
}

.options h2.selected {
  background-color: rgb(30, 226, 102);
  color: white;
  border-style: solid;
  border-width: 5px;
  border-color: rgb(197, 173, 246);
}

.options h2:hover {
  background-color: rgb(30, 226, 102);
  color: white;
}

.prev-button {
  color: rgb(39, 37, 90);
  background-color: white;
  border: none;
  padding: 5px 60px;
  text-align: center;
  text-decoration: none;
  display: block;
  cursor: pointer;
  border-radius: 40px;
  position: absolute;
  left: 5%;
  top: 80%;
}

.next-button {
  color: rgb(39, 37, 90);
  background-color: white;
  border: none;
  padding: 5px 80px;
  text-align: center;
  text-decoration: none;
  display: block;
  cursor: pointer;
  border-radius: 40px;
  position: absolute;
  left: 82.5%;
  top: 80%;
}

.submit-button {
  color: rgb(39, 37, 90);
  background-color: white;
  border: none;
  padding: 5px 80px;
  text-align: center;
  text-decoration: none;
  display: block;
  cursor: pointer;
  border-radius: 40px;
  position: absolute;
  left: 82.5%;
  top: 80%;
}
