<div class="header"><h1>CASHe Quiz</h1></div>
<app-topics-accordion (selectQuestionNavEvent)="selectQuestionNavEvent($event)" (selectTopicEvent)="selectTopicEvent($event)" [questions]="questions"></app-topics-accordion>
<div *ngIf="currentQuestion" class="question">
  <h1 class="question-content">{{ currentQuestion.content }}</h1>
  <ul class="options">
    <li *ngFor="let option of currentQuestion.option_list" class="option-parent">
        <label class="option" [class.selected]="currentQuestion.option_list.indexOf(option) === selectedOptions[currentQuestionIndex]">
          <input type="radio" 
          [checked]="currentQuestion.option_list.indexOf(option) === selectedOptions[currentQuestionIndex]" 
          name="options" 
          id="{{currentQuestion.option_list.indexOf(option)}}" 
          (click)="selectOption(option)"
          size="50">
          {{option}}
        </label>
    </li>
  </ul>
</div>
<div *ngIf="currentQuestionIndex > 0" class="prev-button" (click)="prevQuestion()">
  <h2>Previous</h2>
</div>
<div *ngIf="currentQuestionIndex < questions.length-1" class="next-button" (click)="nextQuestion()">
  <h2>Next</h2>
</div>
<div *ngIf="currentQuestionIndex === questions.length-1" class="submit-button" (click)="submitQuiz()">
  <h2>Submit</h2>
</div>
<app-score-card [scoreOnSubmit]="scoreOnSubmit" [scoreModalOpen]="scoreModalOpen" (modalCloseEvent)="modalCloseEvent($event)"></app-score-card>


