<div *ngIf="topics.length" class="topics-accordion">
    <div *ngFor="let topic of topics">
        <div class="topic" [class.selectedTopic]="topic === selectedTopic" (click)="selectTopic(topic)">
            <h2>{{topic.topic}}</h2>
        </div>
        <div *ngIf="readyToStart === false && topic === selectedTopic" class="questions-nav">
            <div *ngFor="let question of questions" class="question-nav" [class.selected]="selectedOptions![questions!.indexOf(question)] !== -1" (click)="selectQuestionNav(question)">
                <p>{{question.content}}</p>
            </div>
        </div>
    </div>
</div>
