.topics-accordion {
  position: absolute;
  left: 0%;
  top: 35%;
  -webkit-transform: translate(-0%, -25%);
  transform: translate(-0%, -25%);
  border: 1px solid white;
  height: 86%;
  width: 25%;
}

.topic {
  padding: 3px 0px 3px 15px;
  border: 1px solid white;
  color: white;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.topic {
  user-select: none;
  cursor: pointer;
}

.topics-accordion div.selectedTopic {
  background-color: white;
  color: rgb(39, 37, 90);
}

.topic:hover {
  background-color: white;
  color: black;
}

.questions-nav {
  height: 407px;
  overflow-y: scroll;
  margin: 0px 0px 0px -16px;
}

.questions-nav div.selected {
  background-color: rgb(30, 226, 102);
  color: black;
}

.question-nav {
  cursor: pointer;
  border: 1px solid white;
  height: 50px;
  overflow-y: clip;
  color: white;
}

.question-nav:hover {
  background-color: white;
  color: rgb(39, 37, 90);
  border: 1px solid inherit;
}

.question-nav p {
  margin-left: 20px;
  white-space: nowrap;
  width: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 15px;
  padding-left: 15px;
  background-color: inherit;
  color: inherit;
  transition: background-color 0.5s ease, color 0.5s ease;
}
